
:root{
    --blue: hsl(238, 40%, 52%);
    --red: hsl(358, 79%, 66%);
    --light-blue: hsl(239, 57%, 85%);
    --light-red: hsl(357, 100%, 86%);
    
    --dark-blue: hsl(212, 24%, 26%);
    --gray: hsl(211, 10%, 45%);
    --light-gray: hsl(223, 19%, 93%);
    --very-light-gray: hsl(228, 33%, 97%);
    --white: hsl(0, 0%, 100%)
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

.wrapper{
    min-height: 100vh;
    background-color: var(--very-light-gray);
    padding: 40px 20px;

}

button{
    border: none;
}

/* basic card */

.card{
    background-color: var(--white);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

/* user infor part */
.user{
    display: flex;
    align-items: center;

    gap: 14px;
    margin-bottom: 15px;

    grid-column: 1/3;
    align-self: center;
}

.user-avatar{
    width: 32px;
    height: 32px;
}

.user-avatar img{
    width: 100%;
}

.user-current{
    font-size: 11px;
    color: var(--white);
    background-color: var(--blue);
    padding: 2px 7px;
    border-radius: 2px;
    margin-left: -4px;
}

.user-name{
    font-size: 16px;
    color: var(--gray);
    font-weight: 500;
}

.comment-time{
    font-size: 16px;
    font-weight: 400;
    color: var(--gray);
}

/* comment part */
.comment{
    display: inline-block;
    color: var(--gray);
    line-height: 1.4;
    margin-bottom: 15px;
    
    
    grid-column: 1/3;
}
.replyTo{
    color: var(--blue);
    font-weight: 700;
    padding-left: 5px;
}

#comment-input{
    outline: none;
    color: var(--gray);
    border: none;
    width: auto;
}
/* vote part */
.vote{
    display: inline-flex;
    background-color: var(--very-light-gray);
    width: auto;
    border-radius: 10px;
    align-items: center;
}

.vote label{
    display: block;
    border: none;
    height: 40px;
    width: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: ease-in-out;
}

.vote label:hover{
    opacity: 0.8;
}

.vote input{
    display: none;
}

.vote-number{
    color: var(--blue);
    font-weight: 500;
}

/* action button */
.action-button{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
.action-button button{
    background-color: transparent;
    
    gap: 10px;
    display: inline-flex;
    align-items: center;
    
    justify-self: flex-end;
    align-self: center;
    color: var(--blue);
    font-weight: 500;
    
}

.action-button button:hover{
    cursor: pointer;
    opacity: 0.8;
}

.delete h3{
    color: var(--red)
}


/* submit part */
.submit-button{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.submit-button button{
    border-radius: 7px;
    padding: 15px 25px;
    background-color: var(--blue);
    color: var(--light-gray);
    font-weight: 700;
    font-size: 15px;
}

.submit-update,
.submit-reply,
.submit-send{
    display: none;
}

/* state */
/* display state */
.card-display{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}
    /* hide button in normal display state */
    /* .card-display .delete, */
    /* .card-display .edit, */
    /* .card-display .submit-button, */
    .card-display .user-current{
        display: none;
    }
    
/* display state current user */
/* hide button in current display state */
.is-current-user .delete,
.is-current-user .edit,
.is-current-user .user-current{
    display: inline-flex;
}

.is-current-user .reply{
    display: none;
}


/* comment state */

.card-comment{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.card-comment .comment{
    grid-column: 1/3;
    grid-row: 1/2;
    
    display: block;
    min-height: 95px;
    padding: 13px 20px;
    margin-bottom: 22px;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    color: var(--gray);
    font-weight: 400;
}

.card-comment .user-name,
.card-comment .user-current,
.card-comment .comment-time,
.card-comment .vote,
.card-comment .action-button{
    display: none;
}

.card-comment .user{
    grid-column: 1/2;
    margin-bottom: 0;
}


/* reply state */

.card-comment_send .submit-send{
    display: unset;
}
.card-comment_reply .submit-reply{
    display: unset;
}
.card-comment_update .submit-update{
    display: unset;
}


[contentEditable=true]:empty:not(:focus)::before {
    content: attr(data-placeholder);
}

[contentEditable=true]:focus{
    /* background-color: red; */
    border: 1px solid var(--blue);
    outline: none;
    text-align: start;
}
.reply-card{
    padding-left: 15px;
    border-left: 2px solid var(--light-gray);
    margin-bottom: 15px;
}
    
    
